* {
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.15em;
    color: hsl(192, 100%, 9%); 
}
.flex{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
header{
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 40px 0;
}
h1, h2{
    font-family: 'Poppins', sans-serif;
}
p{
    opacity: 0.6;
}
img{
    max-width: 100%;
}

nav{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}
.btn{
    background: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    width: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    padding: 15px 60px;
}
.contenido{
    background: hsl(322, 100%, 66%);
    color: #fff;
}
nav.flex{
    flex-direction: row;
}
.imagen1{
    margin-top: 40px;
    margin-bottom: 20%;
    margin-left: 0;
    width: 100%;    
}
.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}
.box{
    border-radius: 10px ;    
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.15);
    padding: 60px;
    margin: 40px 0;
    background: #fff;
}
.box-reverse{
    flex-direction: column-reverse;
}
.box img{
    width: 80%;
}
.peque{
    display: inline-block;
    position: relative;
    margin-bottom: -50%;
    z-index: 1;
}
footer{
    background: hsl(192, 100%, 9%);
    color: #fff;
    padding: 180px 0 60px;
}
footer ul{
    width: 100%;
    padding: 0;
    list-style-type: none;
}
.align-start{
    align-items: flex-start;
}

footer ul li{
    margin-bottom: 20px;
}
footer .circle{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}
footer .redes{
    display: flex;   
    align-items:center; 
    justify-content: center;    
}    
footer p{
    text-align: center;
}

@media (min-width: 800px){    
    body{
        text-align: left;
        
    }.flex{       
        flex-direction: row;         
    }
    .imagen1{
        margin: 20%;
        width: 80%;
    }
    .centrado{
        text-align: center;
    }
    footer p{
        text-align: right;
    }
    footer .redes{
        display: flex;  
        flex-direction: column;         
        justify-content: center;   
        align-items: flex-start; 
    } 
    .flex ul{
        flex: 1;
        padding-left: 40px;
    }
}